@model List<AEPdashboard.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "Operations"; 
    }

    <div class="container">

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Critical Incidents Response Metric Hit (%)</a>
                    </h4>
                </div>

                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item12 = Model.Find(x => x.MEASURE_ID == 25);
                            <b>@item12.MEASURE_VALUE%</b>
                        }
                        </div><br>
                    
                    <hr>
               </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Critical Incidents Resolve Metric Hit (%)</a>
                    </h4>
                </div>

                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item13 = Model.Find(x => x.MEASURE_ID == 26);
                            <b>@item13.MEASURE_VALUE%</b>
                        }
                        </div><br>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">High Incidents Response Metric Hit (%)</a>
                    </h4>
                </div>

                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item14 = Model.Find(x => x.MEASURE_ID == 27);
                            <b>@item14.MEASURE_VALUE%</b>
                        }
                        </div><br>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">High Incidents Resolved Metric Hit (%)</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item15 = Model.Find(x => x.MEASURE_ID == 28);
                            <b>@item15.MEASURE_VALUE%</b>
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"># of Critical Incidents Reported</a>
                    </h4>
                </div>

                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item16 = Model.Find(x => x.MEASURE_ID == 30);
                            <b>@item16.MEASURE_VALUE</b>
                        }
                        </div><br>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"># of Critical Incidents Resolved</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item17 = Model.Find(x => x.MEASURE_ID == 31);
                            <b>@item17.MEASURE_VALUE</b>
                        }
                        </div><br>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"># of High Incidents Reported</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item18 = Model.Find(x => x.MEASURE_ID == 37);
                            <b>@item18.MEASURE_VALUE</b>
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"># of High Incidents Resolved</a>
                    </h4>
                </div>

                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item19 = Model.Find(x => x.MEASURE_ID == 38);
                            <b>@item19.MEASURE_VALUE</b>
                        }
                        </div><br>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Service Desk Average Speed of Answer</a>
                    </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item20 = Model.Find(x => x.MEASURE_ID == 29);
                            <b>@item20.MEASURE_VALUE</b>
                        }
                        </div><br>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">% Change in Ticket Backlog</a>
                    </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item21 = Model.Find(x => x.MEASURE_ID == 34);
                            <b>@item21.MEASURE_VALUE%</b>
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Network Reliability: Reachability</a>
                    </h4>
                </div>
            </div>

                <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item22 = Model.Find(x => x.MEASURE_ID == 33);
                            <b>@item22.MEASURE_VALUE</b>
                        }
                        </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Network Reliability: Latency</a>
                    </h4>
                </div>

                <div id="collapse12" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item23 = Model.Find(x => x.MEASURE_ID == 34);
                            <b>@item23.MEASURE_VALUE</b>
                        }
                        </div>

            </div>
        </div>
    </div>


    