@model List<AEPdashboard.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "Improvement & Safety";
}
<div class="container">

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Continuous improvement ideas open</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    @{
                        var item1 = Model.Find(x => x.MEASURE_ID == 10);
                        <b>@item1.MEASURE_VALUE</b>
                    }
                    </div><br>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">% Continuous improvement ideas implemented</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    @{
                        var item2 = Model.Find(x => x.MEASURE_ID == 11);
                        <b>@item2.MEASURE_VALUE%</b>
                    }
                    </div><br>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Cross training % improvement</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    @{
                        var item3 = Model.Find(x => x.MEASURE_ID == 12);
                        <b>@item3.MEASURE_VALUE%</b>
                    }
                    </div><br>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Reported training hours</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                @{
                    var item4 = Model.Find(x => x.MEASURE_ID == 13);
                    <b>@item4.MEASURE_VALUE</b>
                }
                    </div><br>
            </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">DART rate</a>
                    </h4>
                </div>
             
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                    @{
                        var item5 = Model.Find(x => x.MEASURE_ID == 1);
                        <b>@item5.MEASURE_VALUE</b>
                    }
            </div><br>
              </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Good catch</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                       
                       @{ 
                           var item6 = Model.Find(x => x.MEASURE_ID == 2);
                           <b>@item6.MEASURE_VALUE</b>
                       }
         
                     
                        </div><br>
                </div>
               </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Good catch narrative</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                        @{
                            var item7 = Model.Find(x => x.MEASURE_ID == 3);
                            <b>@item7.MEASURE_VALUE</b>
                        }</div><br>
                    </div>
            </div>
</div>



