@model List<AEPdashboard.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "Social Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Employee Profile</a>

                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <img src="http://www.johnson.cornell.edu/people/faculty/mdb327/mdb327_profile.jpg" alt="pictures" style="width:200px;height:200px;"></img>
                <table class="prof_table">
                    <tbody>
                        <tr>
                            <td>Employee No.:</td>
                            <td width="1em"</td>
                            <td><b>#HAPU04</b></td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td width="1em"</td>
                            <td><b>Bobby White</b></td>
                        </tr>
                        <tr>
                            <td>Department Name:</td>
                            <td width="1em"</td>
                            <td><b>Quality Assurance</b></td>
                        </tr>
                        <tr>
                            <td>Narrative:</td>
                            <td width="1em"</td>
                            <td><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</b></td>
                        </tr>

                    </tbody>
                </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Birthdays & Anniversaries</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <ul>
                        <iframe src="https://calendar.google.com/calendar/htmlembed?src=%23contacts%40group.v.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

                        
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">PU & L completion%</a>
                    </h4>
                </div>
               
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item1 = Model.Find(x => x.MEASURE_ID == 4);
                            <b>@item1.MEASURE_VALUE%</b>
                        }
                        </div><br>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Number of Culture Champions</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var item2 = Model.Find(x => x.MEASURE_ID == 6);
                            <b>@item2.MEASURE_VALUE</b>
                        }
                    </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Number of ERG participants</a>
                        </h4>
                    </div>

                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            @{
                                var item3 = Model.Find(x => x.MEASURE_ID == 7);
                                <b>@item3.MEASURE_VALUE</b>
                            }
                            </div><br>
                       
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Congratulations Board</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                        @{
                            var item4 = Model.Find(x => x.MEASURE_ID == 5);
                           
                        }
                            <table class="prof_table">
                                <tbody>
                                    <tr>
                                        <td>Recognizee Name:</td>
                                        <td></td>
                                        <td><b>@item4.MEASURE_ENTITY_2</b></td>
                                    </tr>
                                    <tr>
                                        <td>Recognizee Department Name:</td>
                                        <td></td>
                                        <td><b>----</b></td>
                                    </tr>
                                    <tr>
                                        <td>Recognizer:</td>
                                        <td width="1em"</td>
                                        <td><b>@item4.MEASURE_ENTITY_1</b></td>
                                    </tr>
                                    <tr>
                                        <td>Narrative:</td>
                                        <td width="1em"</td>
                                        <td><b>@item4.MEASURE_VALUE</b></td>
                                    </tr>

                                </tbody>
                            </table>
                            </div><br>

                    </div>
                </div>
                
    </div>


