<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <nav class="navbar navbar-inverse top-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                    <style>
                        /* On small screens, set height to 'auto' for sidenav and grid */

                        media screen and (max-width: 767px) .sidenav {
                            height: auto;
                            padding: 15px;
                        }
                        /* unvisited link white */
                        #top-menu a:link {
                            color: #ffffff;
                        }
                        /* visited link white */
                        #top-menu a:visited {
                            color: #ffffff;
                        }
                        /* mouse over link grey */
                        #top-menu a:hover {
                            color: #777777;
                        }
                        /* selected link grey */
                        #top-menu a:active {
                            color: #777777;
                        }
                        /* !IMPORTANT ONLY ADD THIS CLASS TO YOUR ACTIVE PAGE LINK ( Color dark red )*/
                        .activePage a {
                            color: #8b0000 !IMPORTANT
                        }

                        #top-menu
                        }
                    </style>

                </button>
                <a class="navbar-brand"></a>
                <img src="/Pictures/AEP_Tag_RGB.jpg">
            </div>

            <div class="collapse navbar-collapse" id="top-menu">
                <ul class="nav navbar-nav">
                    @*<li><a href="../Home/Index.cshtml">HomePage</a></li>*@
                    <li>@Html.ActionLink("Operations", "Index", "Home", new { area = "" }, new { @class = "navbar-band" })</li>
                    <li>@Html.ActionLink("Improvement & Safety", "IS", "Home", new { area = "" }, new { @class = "navbar-band" })</li>
                    <li>@Html.ActionLink("Financial", "Financial", "Home", new { area = "" }, new { @class = "navbar-band" })</li>
                    @*<li><a href="/Views/Shared/Error.cshtml">ErrorPagee</a></li>*@
                    <li>@Html.ActionLink("Social Activity", "Socialactivity", "Home", new { area = "" }, new { @class = "navbar-band" })</li>

                </ul>
                   <nav class="nav navbar-nav navbar-right">

                    <!-- weather widget start -->
                    <a target="_blank" href="http://www.booked.net/weather/columbus-618"><img src="https://w.bookcdn.com/weather/picture/26_618_0_1_ff0000_250_ff0000_ffffff_ffffff_1_ff0000_ffffff_0_6.png?scode=2&domid=w209&anc_id=64080" alt="booked.net" /></a><!-- weather widget end -->
                    <iframe src="http://free.timeanddate.com/clock/i5wsysum/n805/fcfff/tcf00/pcf00/tt0/tw0/tm1/ts1/tb4" frameborder="0" width="87" height="34"></iframe>
                </nav>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <img src="http://i.imgur.com/8UNgWez.png">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
        <hr />

        <footer class="footer container-fluid text-center">
           
                <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>
                
            </footer>
            </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>