<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="top-menu">
                <ul class="nav navbar-nav top-menu">
                    <li class="activePage"><a href="Operation.html">Operation</a></li>
                    <li><a href="ImprovementNSafety.html">Continuous improvement and safety</a></li>
                    <li><a href="financials.html">Financials</a></li>
                    <li><a href="Social-activity.html">Social activity</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">











                    <!-- weather widget start -->
                    <a target="_blank" href="http://www.booked.net/weather/columbus-618"><img src="https://w.bookcdn.com/weather/picture/26_618_0_1_ff0000_250_ff0000_ffffff_ffffff_1_ff0000_ffffff_0_6.png?scode=2&domid=w209&anc_id=64080" alt="booked.net" /></a><!-- weather widget end -->
                    <iframe src="http://free.timeanddate.com/clock/i5wsysum/n805/fcfff/tcf00/pcf00/tt0/tw0/tm1/ts1/tb4" frameborder="0" width="87" height="34"></iframe>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
