<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <nav class="navbar navbar-inverse top-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"></a>
                <img src="/Pictures/AEP_Tag_RGB.jpg">
               </div>

            <div class="collapse navbar-collapse" id="top-menu">
                  <ul class="nav navbar-nav top-menu">
                    @*<li><a href="../Home/Index.cshtml">HomePage</a></li>*@
                    <li>@Html.ActionLink("Operations", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Improvement & Safety", "IS", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Financial", "Financial", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @*<li><a href="/Views/Shared/Error.cshtml">ErrorPagee</a></li>*@
                    <li>@Html.ActionLink("Social Activity", "Socialactivity", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    
                </ul>
                <nav class="nav navbar-nav navbar-right">

                    <!-- weather widget start -->
                    <a target="_blank" href="http://www.booked.net/weather/columbus-618"><img src="https://w.bookcdn.com/weather/picture/26_618_0_1_ff0000_250_ff0000_ffffff_ffffff_1_ff0000_ffffff_0_6.png?scode=2&domid=w209&anc_id=64080" alt="booked.net" /></a><!-- weather widget end -->
                    <iframe src="http://free.timeanddate.com/clock/i5wsysum/n805/fcfff/tcf00/pcf00/tt0/tw0/tm1/ts1/tb4" frameborder="0" width="87" height="34"></iframe>
                </nav>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <img src="http://i.imgur.com/8UNgWez.png">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
        <hr />

        <footer class="footer container-fluid text-center">
           
                <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>
                <small><i><a href="" target="_blank" rel="nofollow">more Quotes</a></i></small>
            </footer>
            </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>